body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    color: #333;
    text-shadow: 1px 1px 0 #eee;
}

a {
    color: #333;
}

h1 {
    position: relative;
    background: #eee;
    padding: 8px;
    text-align: center;
    margin: 0;
    font-size: 120%;
    border-bottom: 1px solid #aaa;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ccc);
    background-image:    -moz-linear-gradient(top, #eeeeee, #ccc);
    background-image:      -o-linear-gradient(top, #eeeeee, #ccc);
    background-image:         linear-gradient(to bottom, #eeeeee, #ccc);
}

#edit-location-btn {
    text-indent: -9999px;
    display: block;
    position: absolute;
    top: 4px;
    left: 6px;
    height: 28px;
    width: 32px;
    background: #ccc;
    border-radius: 6px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa));
    border: 1px solid #aaa;
}

#edit-location-btn span {
    border-top: 1px solid #ccc;
    background: url(../img/locate.png) no-repeat center;
    background-size: 20px 20px;
    display: block;
    padding-top: 3px;
    border-radius: 6px;
}

#poll-map-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#poll-map {
    width: 100%;
    margin: 0 auto;
    height: 500px;
}

#main-map {
    position:relative;
}

#main-map #address {
    position: absolute;
    display: none;
    top: 0;
    width: 96%;
    text-align: center;
    color: #888;
    padding: 20px 2%;
    text-shadow: 1px 1px 0 #111;
    background: url(../img/navy_blue.png);
}

#address p {
    margin-top: 0;
}

#address input {
    border-radius: 3px;
    border: none;
    padding: 10px;
}

#address-loader {
    background: url(../img/small-loader.gif) no-repeat top left;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    display: inline-block;
}

#address-error {
    color: red;
    font-size: 0.8em;
}

#nearest-station em {
    font-style: normal;
}

.info-container {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
    background-image:    -moz-linear-gradient(top, #eeeeee, #ffffff);
    background-image:      -o-linear-gradient(top, #eeeeee, #ffffff);
    background-image:         linear-gradient(to bottom, #eeeeee, #ffffff);
}

h3 {
    font-weight: 100;
    margin: 0;
    padding: 0;
}

h3 span {
    display: block;
    font-weight: bold;
    font-size: 130%;
    margin: 5px 0;
}

p {
    display: block;
}

#loader {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6) url(../img/loader.gif) no-repeat center;
    opacity: .8;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 14px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
    background-color: #cccccc \9;
}

.btn:first-child {
    *margin-left: 0;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
