body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    color: #333;
    text-shadow: 1px 1px 0 #eee;
    background: #222;
}

a {
    color: #333;
}

h1 {
    position: relative;
    background: #eee;
    padding: 8px;
    text-align: center;
    margin: 0;
    font-size: 120%;
    border-bottom: 1px solid #aaa;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ccc);
    background-image:    -moz-linear-gradient(top, #eeeeee, #ccc);
    background-image:      -o-linear-gradient(top, #eeeeee, #ccc);
    background-image:         linear-gradient(to bottom, #eeeeee, #ccc);
}

#edit-location-btn {
    text-indent: -9999px;
    display: block;
    position: absolute;
    top: 4px;
    left: 6px;
    height: 28px;
    width: 32px;
    background: #ccc;
    border-radius: 6px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa));
    border: 1px solid #aaa;
}

#edit-location-btn span {
    border-top: 1px solid #ccc;
    background: url(../img/locate.png) no-repeat center;
    background-size: 20px 20px;
    display: block;
    padding-top: 3px;
    border-radius: 6px;
}

#poll-map-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#poll-map {
    width: 100%;
    margin: 0 auto;
    height: 500px;
}

#main-map {
    position:relative;
}

#main-map #address {
    position: absolute;
    display: none;
    top: 0;
    width: 96%;
    text-align: center;
    color: #888;
    padding: 20px 2%;
    text-shadow: 1px 1px 0 #111;
    background: url(../img/navy_blue.png);
}

#address p {
    margin-top: 0;
}

#address input {
    border-radius: 3px;
    border: none;
    padding: 10px;
}

#address input[type="submit"] {
    background: #ccc;
}

.info-container {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
    background-image:    -moz-linear-gradient(top, #eeeeee, #ffffff);
    background-image:      -o-linear-gradient(top, #eeeeee, #ffffff);
    background-image:         linear-gradient(to bottom, #eeeeee, #ffffff);
}

h3 {
    font-weight: 100;
    margin: 0;
    padding: 0;
}

h3 span {
    display: block;
    font-weight: bold;
    font-size: 130%;
    margin: 5px 0;
}

p {
    display: block;
}